
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  /* Shorhand T,R,B,L*/
  padding: 6em 2em;
  position: relative;
}

header.primary::before {
  content: "";
  background-image: url(https://raw.githubusercontent.com/JulioGobea/ifsc-1310/master/dragon/assets/img/dragon_launch.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

header.primary h1 {
  font-size: 3.2rem;
  margin: 20px 0;
  position: relative;
}

header.primary h1 a {
  color: #ffffff;
  background-image: url(https://raw.githubusercontent.com/JulioGobea/ifsc-1310/master/dragon/assets/img/dragon_logo.png);
  display: block;
  width: 450px;
  height: 70px;
  margin: 0 auto;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}
